.modal-body{
    padding: 1rem 2rem;

    .modal-custom-header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title{
            color: black;
            font-size: 32px;
        }

        .right-side{
            display: flex;
            align-items: center;

            .count{
                button{
                    background: transparent;
                    font-size: 15px;
                    border: none;
                    outline: none;
                    width: 25px;
                    padding: 0;

                    &:first-child{
                        text-align: right;
                    }
                    &:last-child{
                        text-align: left;
                    }
                }

                .product_count{
                    padding: 5px;
                    border-radius: 10px;
                    background: grey;
                    margin: 0 10px;
                    color: white;
                }
            }

            .product-price{
                .product-price-number{
                    padding: 5px;
                    border-radius: 10px;
                    background: grey;
                    margin: 0 10px;
                    color: white;
                }
            }
        }
    }

    .size_and_border{
        display: flex;
        margin-bottom: 50px;

        .sizes{
            margin-right: 30px;
        }
    }
}
